body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: linear-gradient(120deg, #1e3c72, #2a5298);
  min-height: 100vh;
}

.center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input, button {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  background: #00c6ff;
  color: #fff;
  cursor: pointer;
}
